*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#world {
    /* height: 200px; */
    position: relative;
    overflow: hidden;
    /* width: 100%; */
}

#score {
    font-size: 3vmin;
    position: absolute;
    right: 1vmin;
    top: 1vmin;
}

#start {
    font-size: 3vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    bottom: 0;
    left: calc(var(--left) * 1%);
    position: absolute;
    width: 300%;
}

#dino {
    --bottom: 0;
    bottom: calc(var(--bottom) * 1%);
    height: 30%;
    left: 5%;
    position: absolute;
}

.cactus {
    bottom: 0;
    height: 30%;
    left: calc(var(--left) * 1%);
    position: absolute;
}
